*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    background-image: url(/Images/Rectangle.png);
}
header {
    display: flex;
    /* justify-content: space-between; */
    margin: auto;
    font-family: roboto;
    padding-left: 105px;
    padding-right: 104px;
    padding-bottom: 106px;
}
.image { 
    cursor: pointer;
    padding-top: 37px;
}
nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 48px;
    padding-top: 37px;
    list-style: none;
    padding-left: 264px;
}
li {
    color: white;
    font-size: 16px;
}
a {
    text-decoration: none;
}
.headBtn {
    background-color: #1BC768;
    color: white;
    padding: 10px 38px 10px 38px;
    border: none;
    border-radius: 50px;
    margin-top: 21px;
    margin-left: 170px;
    font-size: 16px;
}
.hero {
    font-family: roboto;
    padding-left: 104px;
    padding-right: 104px;
    display: flex;
}
.hero h2 {
    font-size: 48px;
    color: white;
    padding-bottom: 23px;
    font-weight: 900;
    width: 519px;
    line-height: 62px;
}
.hero p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding-bottom: 44px;
    width: 504px;
    line-height: 24px;
}
.place {
    padding: 10px 38px 10px 38px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    color: white;
    background-color: rgba(4, 60, 170, 1);
    cursor: pointer;
    margin-right: 21px;
    margin-bottom: 52px;
    font-size: 16px;
    
}
.place:hover{
    color: blue;
    background-color: white;
}
.heroForm input {
    background-color: #DEE9FF;
    color: #7A7A7A;
    width: 388px; 
    height: 48px;
    border: none;
    border-radius: 50px;
    margin-bottom: 119px;
    font-size: 16px;
    font-family: roboto;
    font-weight: 400;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.heroForm button {
    background-color: #1BC768;
    color: white;
    font-size: 16px;
    font-family: roboto;
    font-weight: 400;
    border: none;
    border-radius: 50px;
    padding: 15px 38px;
    position: absolute;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.hero img {
    padding-left: 131px;
    padding-bottom: 0px;
}
.author {
    background-color: rgba(243, 247, 255, 1);
}
.lation h3 {
    color: rgba(4, 60, 170, 1);
    font-size: 36px;
    font-family: roboto;
    font-weight: 900;
}
.lation{
    text-align: center;
    align-items: center;
    padding-bottom: 56px;
    padding-top: 94px;
}
.page {
    text-align: center;
    padding-bottom: 113px;
}
.logo {
    margin-right: 117px;
}
.okay {
    margin-right: 117px;
}
.benefit h3{
    color: rgba(4, 60, 170, 1);
    font-size: 36px;
    font-family: roboto;
    font-weight: 900;
}
.benefit {
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}
.exclude {
    display: flex;
    padding-bottom: 30px;
}
.medicine h6{
    font-size: 24px;
    font-weight: 800;
    font-family: roboto;
    color: rgba(4, 60, 170, 1);
    width: 242px;
    padding-bottom: 40px;
}
.medicine {
    padding-left: 211px;
    padding-top: 151px;
}
.medicine button {
    width: 238px;
    height: 47px;
    border: 1px solid rgba(27, 199, 104, 1);
    color: rgba(27, 199, 104, 1);
    border-radius: 50px;
}
.group {
    display: flex;
}
.prescribed {
    padding-left: 139px;
}
.bicycle {
    display: flex;
}
.pig {
    padding-left: 240px;
}
.medicine2 h6{
    font-size: 24px;
    font-weight: 800;
    font-family: roboto;
    color: rgba(4, 60, 170, 1);
    width: 242px;
    padding-bottom: 40px;
}
.medicine2 {
    padding-left: 159px;
    padding-top: 151px;
}
.medicine2 button {
    width: 238px;
    height: 47px;
    border: 1px solid rgba(27, 199, 104, 1);
    color: rgba(27, 199, 104, 1);
    border-radius: 50px;
}
.medicine3 h6{
    font-size: 24px;
    font-weight: 800;
    font-family: roboto;
    color: rgba(4, 60, 170, 1);
    width: 242px;
    padding-bottom: 40px;
    padding-top: 211px;
}
.medicine3 {
    padding-left: 211px;
}
.medicine3 button {
    width: 238px;
    height: 47px;
    border: 1px solid rgba(27, 199, 104, 1);
    color: rgba(27, 199, 104, 1);
    border-radius: 50px;
}
.people {
    padding-left: 118px;
    padding-top: 70px;
}
.tangle {
    display: flex;
}
.most{
    padding-bottom: 138px;
}
.family {
    padding-left: 187px;
}
.client {
    font-size: 36px;
    /* font-family: roboto; */
    font-weight: 800;
}
.sunny img {
    padding-left: 70px;
    padding-bottom: 48px;
    padding-top: 5px;
}
.family p{
    font-size: 18px;
    padding-bottom: 18px;
    color: rgba(122, 122, 122, 1);
}
.general {
    color: rgba(4, 60, 170, 1);
    font-size: 18px;
    padding-bottom: 41px;
}
.update{
    background-color: rgba(4, 60, 170, 1);
}
.news h6{
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    padding-bottom: 18px;
}
.news p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    width: 404px;
}
.news {
    padding-left: 173px;
    padding-top: 90px;
}