*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.hero-section{
    background-image: url(/Images/Rectangle.png);
    background-size: cover;
    background-position: center;
}

.hero-con {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    margin: 0 auto;
    font-family: roboto;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 106px;
}

.image { 
    cursor: pointer;
    padding-top: 37px;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 60%;
}

ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 48px;
    padding-top: 37px;
    list-style: none;
}

li {
    color: white;
    font-size: 16px;
}
a {
    text-decoration: none;
}

.headBtn {
    background-color: #1BC768;
    color: white;
    width: 117px;
    height: 42px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

.hero {
    font-family: roboto;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero h2 {
    font-size: 48px;
    color: white;
    padding-bottom: 23px;
    font-weight: 900;
    width: 519px;
    line-height: 62px;
}
.hero p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding-bottom: 44px;
    width: 504px;
    line-height: 24px;
}
.place {
    width: 108px;
    height: 45px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    color: white;
    background-color: rgba(4, 60, 170, 1);
    cursor: pointer;
    margin-right: 18px;
    margin-bottom: 52px;
    font-size: 16px;
}
.place:hover{
    color: blue;
    background-color: white;
}
.heroForm input {
    background-color: #DEE9FF;
    color: #7A7A7A;
    width: 388px; 
    height: 48px;
    border: none;
    border-radius: 50px;
    margin-bottom: 119px;
    font-size: 16px;
    font-family: roboto;
    font-weight: 400;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 24px;
}
.heroForm button {
    background-color: #1BC768;
    color: white;
    font-size: 16px;
    font-family: roboto;
    font-weight: 400;
    border: none;
    border-radius: 50px;
    width: 127px;
    height: 48px;
    position: absolute;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
    width: 600px;
    height: 503px;
} 

.author-sec {
    background-color: rgba(243, 247, 255, 1);
    margin: 0 auto;
}

.lation h3 {
    color: rgba(4, 60, 170, 1);
    font-size: 36px;
    font-family: roboto;
    font-weight: 900;
}
.lation{
    text-align: center;
    align-items: center;
    padding-bottom: 56px;
    padding-top: 94px;
}
.page {
    text-align: center;
    padding-bottom: 113px;
}
.logo {
    margin-right: 117px;
}
.okay {
    margin-right: 117px;
}
.benefit h3{
    color: rgba(4, 60, 170, 1);
    font-size: 36px;
    font-family: roboto;
    font-weight: 900;
}

.benefit {
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    margin: 0 auto;
}

.exclude {
    display: flex;
    padding-bottom: 30px;
}
.exclude img {
    width: 15.8px;
    height: 15px;
    padding-right: 7px;
}
.exclude p{
    font-size: 18px;
    font-family: roboto;
}
.medicine h6{
    font-size: 24px;
    font-weight: 800;
    font-family: roboto;
    color: rgba(4, 60, 170, 1);
    width: 242px;
    padding-bottom: 40px;
}

.medicine {
    margin: 0 auto;
    padding-top: 151px;
}

.medicine button {
    width: 238px;
    height: 47px;
    border: 1px solid rgba(27, 199, 104, 1);
    color: rgba(27, 199, 104, 1);
    border-radius: 50px;
    cursor: pointer;
}

.group {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    justify-content: space-between;
}

.prescribed {
    margin: 0 auto;
}

.bicycle {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    justify-content: space-between;
}

.pig {
    padding-top: 70px;
}

.medicine2 h6{
    font-size: 24px;
    font-weight: 800;
    font-family: roboto;
    color: rgba(4, 60, 170, 1);
    width: 242px;
    padding-bottom: 40px;
}
.medicine2 {
    padding-left: 159px;
    padding-top: 151px;
}
.medicine2 button {
    width: 238px;
    height: 47px;
    border: 1px solid rgba(27, 199, 104, 1);
    color: rgba(27, 199, 104, 1);
    border-radius: 50px;
    cursor: pointer;
}
.medicine3 h6{
    font-size: 24px;
    font-weight: 800;
    font-family: roboto;
    color: rgba(4, 60, 170, 1);
    width: 242px;
    padding-bottom: 40px;
    padding-top: 211px;
}
.medicine3 {
    padding-left: 211px;
}
.medicine3 button {
    width: 238px;
    height: 47px;
    border: 1px solid rgba(27, 199, 104, 1);
    color: rgba(27, 199, 104, 1);
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.people {
    padding-left: 118px;
    padding-top: 70px;
}

.tangle {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.most img{
    padding-bottom: 138px;
    padding-top: 94px;
    width: 500px;
    height: 646px;
}
.family {
    padding-left: 187px;
    padding-right: 300px;
}
.client {
    font-size: 50px;
    font-family: roboto;
    font-weight: 800;
    padding-top: 174px;
}
.sunny img {
    padding-left: 100px;
    padding-bottom: 48px;
    padding-top: 5px;
}
.family p{
    font-size: 18px;
    padding-bottom: 18px;
    color: rgba(122, 122, 122, 1);
    font-family: roboto;
}
.general {
    color: rgba(4, 60, 170, 1);
    font-size: 18px;
    padding-bottom: 41px;
    font-weight: 400;
    font-family: roboto;
}

.footer{
    background-color: rgba(4, 60, 170, 1);
}

.footer-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.news h6{
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    padding-bottom: 18px;
    font-family: roboto;
}
.news p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    width: 404px;
}

.news {
    padding-top: 90px;
}

.sign {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 4rem;
}

.holder {
    padding-top: 96px;
    padding-right: 231px;
}

.holder p{
    font-size: 18px;
    font-family: roboto;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 13px;
}
.holder input {
    background-color: #DEE9FF;
    color: #7A7A7A;
    width: 300px;
    height: 48px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-family: roboto;
    font-weight: 400;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 26px;
}
.holder button {
    background-color: #1BC768;
    color: white;
    font-size: 16px;
    font-family: roboto;
    font-weight: 400;
    border: none;
    border-radius: 50px;
    width: 156px;
    height: 48px;
    position: absolute;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.online {
    color: rgba(255, 255, 255, 1);
    font-family: roboto;
    display: flex;
    justify-content: space-between;
}

.online-cons {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.health {
    padding-top: 106px;
}
.health h6 {
    font-size: 24px;
    padding-bottom: 11px;
}
.health p{
    font-size: 18px;
    width: 211px;
    line-height: 24px;
}
.quick h6{
    font-size: 18px;
    padding-bottom: 21px;
}
.quick p{
    font-size: 16px;
    padding-bottom: 15px;
    cursor: pointer;
}

.quick {
    padding-top: 110px;
}

.hold h6 {
    font-size: 18px;
    padding-bottom: 21px;
}
.hold p {
    font-size: 16px;
    padding-bottom: 15px;
    cursor: pointer;
}

.hold {
    padding-top: 110px;
}

.book h6 {
    font-size: 18px;
    padding-bottom: 21px;
}
.book p {
    font-size: 16px;
    padding-bottom: 15px;
    cursor: pointer;
}

.book {
    padding-top: 110px;
}

.copyright {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 50px;
    font-family: roboto;
    padding-bottom: 17px;
}
 .openMenu {
    display: none;
}

@media screen and (max-width: 1024px) {
    .hero-con {
        max-width: 980px;
    }

    .openMenu{
        display: none;
    }

    .image {
        width: 50px;
    }

    nav {
        width: 70%;
    }

    ul {
        gap: 36px;
    }

    .headBtn {
        width: 117px;
    }
    
    .hero h2 {
        font-size: 40px;
        width: 419px;
    }
    .hero p {
        font-size: 16px;
        width: 419px;
    }
    .place {
        width: 90px;
        margin-right: 10px;
    }
    .heroForm input {
        width: 300px;
    }
    .heroForm button {
        width: 117px;
    }

    .hero-img {
        width: 100%;
    }

    .hero img {
        padding-left: 29px;
    }
    
    .bicycle {
        width: 90%;
    }
    
    .group {
        width: 90%;
    }

    .medicine2 {
        padding-left: 0px;
    }

    .medicine3 {
        padding-left: 0px;
    }

    .people {
        padding-left: 2px;
    }
    .family {
        padding-left: 100px;
        padding-right: 60px;
    }
    
    .footer-container {
       max-width: 980px;
    }

    .holder {
        padding-right: 1px;
    }

    .holder input {
        width: 250px;
    }
    .holder button {
        width: 130px;
    }
}
@media screen and (max-width: 768px) {
    .hero-con {
        max-width: 690px;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0);
        transition: top 1s ease 0s;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .openMenu {
        display: block;
        padding-left: 520px;
        padding-top: 35px;
    }

    .image {
        width: 50px;
    }

    nav {
        width: 80%;
    }

    ul {
        gap: 12px;
    }

    .headBtn {
        width: 117px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero h2 {
        font-size: 40px;
        width: 419px;
    }
    .hero p {
        font-size: 16px;
        width: 419px;
    }

    .hero-img {
        justify-content: center;
        align-items: center;
    }
    .place {
        width: 90px;
        margin-right: 10px;
    }
    .heroForm input {
        width: 300px;
    }
    .heroForm button {
        width: 117px;
    }
    .hero img {
        padding-left: 29px;
    }
    .author{
        width: 1025px;
    }

    .group {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bicycle {
        flex-direction: column;
        align-items: center;
    }

    .prescribed {
        margin-top: 70px;
    }
    
    .people {
        padding-left: 2px;
    }

    .tangle {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .family {
        padding: 0px;
        margin: 0 auto;
        width: 100%;
        max-width: 690px;
    }

    .sign {
        flex-direction: column;
        align-items: start;
        gap: 0;
        width: 100%;
        max-width: 690px;
        margin: 0 auto;
    }

    .holder {
        padding-right: 1px;
    }

    .holder input {
        width: 250px;
    }
    .holder button {
        width: 130px;
    }


    .online {
        width: 100%;
        max-width: 690px;
        margin: 0 auto;
    }

    .online-cons{
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}

@media screen and (max-width: 425px) {
    .hero-con {
        max-width: 290px;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0);
        transition: top 1s ease 0s;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .openMenu {
        display: block;
        padding-left: 220px;
        padding-top: 35px;
    }

    .hero h2 {
        font-size: 20px;
        width: 100%;
        line-height: 24px;
    }

    .hero p {
        font-size: 10px;
        width: 100%;
        line-height: 16px;
    }

    .heroForm input {
        width: 220px;
        font-size: 14px;
    }

    .heroForm button {
        width: 80px;
        font-size: 14px;
    }


    .hero img {
        padding: 0;
        width: 100%;
    }

    .lation {
        padding-top: 65px;
        padding-bottom: 30px;
    }

    .lation h3 {
        font-size: 24px;
    }

    .page {
        padding-bottom: 50px;
    }

    .logo {
        margin: 0;
    }

    .okay {
        margin: 0;
    }

    .benefit h3 {
        font-size: 24px;
    }

    .medicine {
        padding-top: 80px;
    }

    .prescribed {
        margin-top: 35px;
        width: 290px;
    }

    .prescribed img {
        width: 100%;
    }

    .pig {
        padding-top: 35px;
        width: 275px;
    }

    .pig img {
        width: 100%;
    }

    .medicine2 {
        padding-top: 90px;
    }

    .medicine3 h6 {
        padding-top: 90px;
    }

    .people {
        padding-top: 35px;
        width: 290px;
    }

    .people img {
        width: 100%;
    }

    .most {
        width: 100%;
    }

    .most img {
        padding: 75px 0;
        width: 100%;
        object-fit: cover;
    }

    .family {
        padding-bottom: 20px;
        max-width: 290px;
    }

    .client {
        padding-top: 45px;
    }

    .footer-container {
        max-width: 290px;
    }

    .news {
        padding-top: 60px;
        width: 100%;
    }

    .news p {
        width: 100%;
    }

    .holder {
        padding-top: 50px;
    }

    .holder input {
        width: 175px;
    }

    .holder button {
        width: 75px;
        font-size: 11px;
    }

    .online {
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .hero-con {
        max-width: 290px;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0);
        transition: top 1s ease 0s;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .openMenu {
        display: block;
        padding-left: 205px;
        padding-top: 35px;
    }

    .hero h2 {
        font-size: 20px;
        width: 100%;
        line-height: 24px;
    }

    .hero p {
        font-size: 10px;
        width: 100%;
        line-height: 16px;
    }

    .heroForm input {
        width: 220px;
        font-size: 14px;
    }

    .heroForm button {
        width: 80px;
        font-size: 14px;
    }


    .hero img {
        padding: 0;
        width: 100%;
    }

    .lation {
        padding-top: 65px;
        padding-bottom: 30px;
    }

    .lation h3 {
        font-size: 24px;
    }

    .page {
        padding-bottom: 50px;
    }

    .logo {
        margin: 0;
    }

    .okay {
        margin: 0;
    }

    .benefit h3 {
        font-size: 24px;
    }

    .medicine {
        padding-top: 80px;
    }

    .prescribed {
        margin-top: 35px;
        width: 290px;
    }

    .prescribed img {
        width: 100%;
    }

    .pig {
        padding-top: 35px;
        width: 275px;
    }

    .pig img {
        width: 100%;
    }

    .medicine2 {
        padding-top: 90px;
    }

    .medicine3 h6 {
        padding-top: 90px;
    }

    .people {
        padding-top: 35px;
        width: 290px;
    }

    .people img {
        width: 100%;
    }

    .most {
        width: 100%;
    }

    .most img {
        padding: 75px 0;
        width: 100%;
        object-fit: cover;
    }

    .family {
        padding-bottom: 20px;
        max-width: 290px;
    }

    .client {
        padding-top: 45px;
    }

    .footer-container {
        max-width: 290px;
    }

    .news {
        padding-top: 60px;
        width: 100%;
    }

    .news p {
        width: 100%;
    }

    .holder {
        padding-top: 50px;
    }

    .holder input {
        width: 175px;
    }

    .holder button {
        width: 75px;
        font-size: 11px;
    }

    .online {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .hero-con {
        max-width: 290px;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0);
        transition: top 1s ease 0s;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .openMenu {
        display: block;
        padding-left: 200px;
        padding-top: 35px;
    }

    .hero h2 {
        font-size: 20px;
        width: 100%;
        line-height: 24px;
    }

    .hero p {
        font-size: 10px;
        width: 100%;
        line-height: 16px;
    }

    .heroForm input {
        width: 220px;
        font-size: 14px;
    }

    .heroForm button {
        width: 80px;
        font-size: 14px;
    }


    .hero img {
        padding: 0;
        width: 100%;
    }

    .lation {
        padding-top: 65px;
        padding-bottom: 30px;
    }

    .lation h3 {
        font-size: 24px;
    }

    .page {
        padding-bottom: 50px;
    }

    .logo {
        margin: 0;
    }

    .okay {
        margin: 0;
    }

    .benefit h3 {
        font-size: 24px;
    }

    .medicine {
        padding-top: 80px;
    }

    .prescribed {
        margin-top: 35px;
        width: 290px;
    }

    .prescribed img {
        width: 100%;
    }

    .pig {
        padding-top: 35px;
        width: 275px;
    }

    .pig img {
        width: 100%;
    }

    .medicine2 {
        padding-top: 90px;
    }

    .medicine3 h6 {
        padding-top: 90px;
    }

    .people {
        padding-top: 35px;
        width: 290px;
    }

    .people img {
        width: 100%;
    }

    .most {
        width: 100%;
    }

    .most img {
        padding: 75px 0;
        width: 100%;
        object-fit: cover;
    }

    .family {
        padding-bottom: 20px;
        max-width: 290px;
    }

    .client {
        padding-top: 45px;
    }

    .footer-container {
        max-width: 290px;
    }

    .news {
        padding-top: 60px;
        width: 100%;
    }

    .news p {
        width: 100%;
    }

    .holder {
        padding-top: 50px;
    }

    .holder input {
        width: 175px;
    }

    .holder button {
        width: 75px;
        font-size: 11px;
    }

    .online {
        flex-direction: column;
    }
}